In [18]:
import pandas as pd
df_r = pd.read_csv('8000ethnicity.txt', delimiter = "\t", header=None)
df_s = pd.read_csv('8000gender.txt', delimiter = "\t", header=None)
df = pd.concat([df_r, df_s])
df.columns = ['Tweet']
df = df.sample(frac=1).reset_index(drop=True) #randomising rows

In [19]:
df

                                                   Tweet
0      RT @B_Willy2013 Any real man knows, that being...
1      If a white man called me, a black woman, a neg...
2      to the white gay man who made a rape joke, of ...
3      lmfao you call my brother a "nigger" , but the...
4      dumb nigger stop stealing other people's ideas...
...                                                  ...
15929  Whether it's a guy using "gay" as a negative, ...
15930  I love the groove/sampling/inventiveness/vocal...
15931       THE FUCK? Don't wish dumb shit on me nigger.
15932  RT @pauleldridge2 I'm not sexist but I can not...
15933  first of all, one of them is irish how dare yo...

[15934 rows x 1 columns]

In [20]:
tweets = df['Tweet'].tolist()

In [32]:
from nltk.tokenize import TweetTokenizer #I chose to tokenize with this, as it gets rid of @ handlers
tknzr = TweetTokenizer(preserve_case=True, reduce_len=False, strip_handles=True)

lst = []

for tweet in tweets:    
    if type(tweet) != str: #removing tweets that are not 'tokenizable'
        pass
    else:
        lst.append(tknzr.tokenize(tweet))

In [55]:
import nltk
from nltk.corpus import stopwords
stop_words = nltk.corpus.stopwords.words('english')
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer 
ps = PorterStemmer() 

remove = "!$%&()*+, .-./:;<=>?@[\]^_`{|}~]\wdiwj/'0123456789......\"\x92\\n\r\“\”"

In [83]:
ft_infinitive = [] #filtered tokens with verbs in infinitive tense
for tweet in lst:
    filt = []
    for token in tweet:
        if 'http' in token.lower():
            continue
        if token.lower() in remove:
            continue
        if token.lower() in stop_words:
            continue
        else:
            filt.append((nltk.WordNetLemmatizer().lemmatize(token.lower(), 'v')))
    ft_infinitive.append(filt)

In [64]:
ft_finite = [] #filtered tokens with verbs in finite tense
for tweet in lst:
    filt = []
    for token in tweet:
        if 'http' in token.lower():
            continue
        if token.lower() in remove:
            continue
        if token.lower() in stop_words:
            continue
        else:
            filt.append((nltk.WordNetLemmatizer().lemmatize(token.lower())))
    ft_finite.append(filt)

In [129]:
df = pd.DataFrame([ft_infinitive])
df8000 = df.transpose()

In [132]:
df8000

                                                       0
0      [rt, real, man, know, able, cook, one, attract...
1      [white, man, call, black, woman, negro, would,...
2      [white, gay, man, make, rape, joke, course, wo...
3      [lmfao, call, brother, nigger, turn, right, ar...
4      [dumb, nigger, stop, steal, people's, ideas, m...
...                                                  ...
15929  [whether, guy, use, gay, negative, make, rape,...
15930  [love, groove, sample, inventiveness, vocal, s...
15931                   [fuck, wish, dumb, shit, nigger]
15932      [rt, i'm, sexist, stand, women, commentators]
15933  [first, one, irish, dare, secondly, ur, opinio...

[15934 rows x 1 columns]