In [21]:
import pandas as pd
import numpy as np
from pathlib import Path
import nltk, spacy
from nltk.corpus import stopwords
from gensim.parsing.preprocessing import STOPWORDS as SW
from wordcloud import STOPWORDS
pd.options.display.float_format = '{:,.0f}'.format

In [22]:
in_file = Path.cwd().parents[0] / 'Processed_datasets' / 'tweets_long_no_duplicates.csv'
my_stopwords = stopwords.words('english')
stopwords = set(STOPWORDS).union(my_stopwords) #preparing stopwards list
custom_stopwords = ['hi', '\n', '\n\n', '&amp;', ' ', '.', '-',
                    'got', "it's", 'it’s', "i'm", 'i’m', 'im', 'want', 'like', '$', '@']
nlp = spacy.load('en_core_web_sm', exclude=['ner', 'tok2vec', 'tagger', 'paerser', 'senter', 'lemmatizer', 'attribute_ruler']) # using only for stopwords
STOP_WORDS = nlp.Defaults.stop_words.union(custom_stopwords)
ALL_STOP_WORDS = STOP_WORDS.union(SW).union(stopwords)

In [15]:
df_long = pd.read_csv(in_file, engine='python', usecols=['Tokens', 'Label']) #not using unnecessary columns

In [18]:
print(df_long.head(15))
df_long.count()
print(df_long['Label'].value_counts())

                                               Tokens  Label
0   muslim mob violence against hindus in banglade...      1
1   islamophobia is like the idea of naziphobia is...      1
2   finally all caught up and that sudden death co...      0
3   please please start using is your discernment ...      0
4   as soon as isis chased all the minorities out ...      0
5   islam invaded and conquered of christiandom be...      1
6   do you approve of your pedophile prophet rapin...      1
7   problem with vile muslims is that they try to ...      1
8            tend to talk about it much personal info      0
9   cool next time when a woman talks to him about...      0
10  our judges are about to turn the heat up in th...      0
11  lol this you walk by putting one foot in front...      0
12  said wanted sorbet now and they should tell us...      0
13  this fucking potato is blowing my mind duck fa...      0
14  omg this churner feels like razor blades on my...      0
0    15214
1     7500
Name: Label, dtype: int64

In [19]:
#setting up baseline pipeline
from nltk.tokenize import TweetTokenizer #I chose to tokenize with this, as it gets rid of @ handlers
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

tknzr = TweetTokenizer(preserve_case=True, reduce_len=True)
vect = TfidfVectorizer(max_df=.9, min_df=25,
                       strip_accents='unicode', tokenizer=tknzr.tokenize, stop_words=ALL_STOP_WORDS, ngram_range=(2, 2))
sampler = RandomUnderSampler(random_state=42)
xs, ys = vect.fit_transform(df['Tokens'].values), df['Label'].values
x_re, y_re = sampler.fit_resample(xs, ys)

NameError: name 'ALL_STOP_WORDS' is not defined

In [123]:
#classification report
from sklearn.metrics import accuracy_score,recall_score,precision_score,recall_score,f1_score
import warnings
warnings.filterwarnings('ignore')

def report(prediction, real_labels, data):
    print("classification report as follows: ")
    print(f'   Accuracy: {accuracy_score(prediction, real_labels)}')
    print(f'   Precision: {precision_score(prediction, real_labels,average="macro")}')
    print(f'   recall: {recall_score(prediction, real_labels,average="macro")}')
    print(f'   F1 measure: {f1_score(prediction, real_labels,average="macro")}')
    print('Show 5 example of correctly classified datapoint: ')
    if data[prediction==real_labels].shape[0] > 5:
        display(data[prediction==real_labels].iloc[:5,:])
    else:
        display(data[prediction==real_labels])
    print('Show 5 example of wrongly classified datapoint: ')
    if data[prediction!=real_labels].shape[0] > 5:
        display(data[prediction!=real_labels].iloc[:5,:])
    else:
        display(data[prediction!=real_labels])

In [125]:
#Baseline: logistic regression!
#Same as Question 4
from sklearn.feature_extraction.text import CountVectorizer  
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.linear_model import LogisticRegression

vectorizer=CountVectorizer(stop_words='english',max_features=100)
transformer=TfidfTransformer()

vectorizer.fit(train_set['Tokens'].to_list())
train_x = vectorizer.transform(train_set['Tokens'].to_list())

transformer.fit(train_x)
train_x = transformer.transform(train_x)

train_y = train_set['label']
lr = LogisticRegression(multi_class="multinomial", solver="newton-cg")
lr.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [126]:
val_x = vectorizer.transform(validation_set['Tokens'])
val_x = transformer.transform(val_x)

predict = lr.predict(val_x)
report(predict, validation_set['label'], validation_set[['Tokens','Label']])

classification report as follows:
   Accuracy: 0.7987216443163304
   Precision: 0.6614977192076772
   recall: 0.7667356382049939
   F1 measure: 0.6835940478433892
Show 5 example of correctly classified datapoint:

                                                  Tokens  Label
23121        rt strategic vote kat food truly awful #mkr      0
35928                  pancakes proof deity love us #mkr      0
45316  sick see fuck asshole bitch make chain latters...      1
42230  i'm try get insight trans issue definitely gro...      0
40128                                               make      0

Show 5 example of wrongly classified datapoint:

                                                  Tokens  Label
48658                        lol ralph guy still moi era      1
28396                            single men cannot adopt      1
25704                      shame katie nikki kat go #mkr      1
44924  muslim brotherhood usa hundred years liken say...      0
7346   rt #mosul christian pastor #paul_jacob sentenc...      1

In [127]:
##############END OF TF-IDF##################

In [128]:
#Naive Bayes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(train_x, train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [129]:
val_x = vectorizer.transform(validation_set['Tokens'])
val_x = transformer.transform(val_x)

predict = clf.predict(val_x)
report(predict, validation_set['label'], validation_set[['Tokens','Label']])

classification report as follows:
   Accuracy: 0.7894472991602958
   Precision: 0.6323198258641166
   recall: 0.7665798483965244
   F1 measure: 0.6501280393689739
Show 5 example of correctly classified datapoint:

                                                  Tokens  Label
23121        rt strategic vote kat food truly awful #mkr      0
35928                  pancakes proof deity love us #mkr      0
42230  i'm try get insight trans issue definitely gro...      0
40128                                               make      0
3114                                                 wut      0

Show 5 example of wrongly classified datapoint:

                                                  Tokens  Label
45316  sick see fuck asshole bitch make chain latters...      1
48658                        lol ralph guy still moi era      1
28396                            single men cannot adopt      1
25704                      shame katie nikki kat go #mkr      1
44924  muslim brotherhood usa hundred years liken say...      0

In [130]:
#################END OF MULTINOMINAL NAIVE BAYES######

In [131]:
#Neural Network
from sklearn.neural_network import MLPClassifier
ntwk = MLPClassifier(solver='adam', alpha=1e-5,hidden_layer_sizes=(10,30,10,5), random_state=1,batch_size=128,max_iter=400)
ntwk.fit(train_x, train_y)

MLPClassifier(activation='relu', alpha=1e-05, batch_size=128, beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(10, 30, 10, 5), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=400,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [132]:
val_x = vectorizer.transform(validation_set['Tokens'])
val_x = transformer.transform(val_x)

predict = ntwk.predict(val_x)
report(predict, validation_set['label'], validation_set[['Tokens','Label']])

classification report as follows:
   Accuracy: 0.8168943476626144
   Precision: 0.7084592624109877
   recall: 0.7811589138333501
   F1 measure: 0.7309291098045785
Show 5 example of correctly classified datapoint:

                                                  Tokens  Label
23121        rt strategic vote kat food truly awful #mkr      0
35928                  pancakes proof deity love us #mkr      0
45316  sick see fuck asshole bitch make chain latters...      1
42230  i'm try get insight trans issue definitely gro...      0
40128                                               make      0

Show 5 example of wrongly classified datapoint:

                                                  Tokens  Label
48658                        lol ralph guy still moi era      1
30437  kill muslims oppose kill ezidis christians non...      0
28396                            single men cannot adopt      1
44924  muslim brotherhood usa hundred years liken say...      0
7346   rt #mosul christian pastor #paul_jacob sentenc...      1